/* The emoji CSS was inspired by https://www.youtube.com/watch?v=ek1cgR5XVz0*/

.track {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 40;
  }
  
  .emoji {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 11rem; /* equivalent to w-44 in Tailwind */
    height: 11rem; /* equivalent to h-44 in Tailwind */
    background-color: #AD2E24;
    border-radius: 50%;
    position: relative; /* Make sure to position relative for the pseudo-elements */
  }
  
  .emoji-face {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .eyes {
    position: absolute;
    top: 33%; /* equivalent to top-1/3 in Tailwind */
    width: 4rem; /* equivalent to w-16 in Tailwind */
    display: flex;
    justify-content: space-between;
  }
  
  .eye {
    background-color: black;
    border-radius: 50%;
    width: 1.25rem; /* equivalent to w-5 in Tailwind */
    height: 1.25rem; /* equivalent to h-5 in Tailwind */
  }
  
  
  .border-gradient {
    position: relative;
    padding: 0.25rem; /* equivalent to border-4 in Tailwind */
    border-radius: 50%;
    background: linear-gradient(to right, rgb(255, 137, 137), #cd001f), padding-box
  }
  